<app-route-banner pageName="About As"></app-route-banner>

<section class="py-lg-5 py-3">
    <div class="container-fluid">
        <div class="px-lg-4 px-3">

            <!-- ABOUT US -->
            <div class="py-lg-5 py-3">
                <div class="row">

                    <div class="col-lg-6 p-0">
                        <img src="../../../assets/images/banner1.jpg" alt="Goggles" class="img-fluid">
                    </div>

                    <div class="col-lg-6 about-info">
                        <h3 class="tittle-main text-left mb-lg-5 mb-3">About Us</h3>

                        <p class="my-xl-4 my-lg-3 my-md-4 my-3">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>

                        <app-shop-button btnName="Shop Now" btnLink="/shop"></app-shop-button>
                    </div>

                </div>
            </div>

            <!-- PARTNERS -->
            <h3 class="tittle-main text-center my-lg-4 my-4">Partners</h3>

            <div class="partners-info">
                <div class="row mt-lg-5 mt-3">

                    <app-partner-card class="col-md-3" partnerImageUrl="../../../assets/images/team1.jpg"
                        partnerName="Partner 1" partnerDescription="Description" partnerFacebookLink=""
                        partnerTwitterLink="" partnerGooglePlusLink=""></app-partner-card>

                    <app-partner-card class="col-md-3" partnerImageUrl="../../../assets/images/team2.jpg"
                        partnerName="Partner 2" partnerDescription="Description" partnerFacebookLink=""
                        partnerTwitterLink="" partnerGooglePlusLink=""></app-partner-card>

                    <app-partner-card class="col-md-3" partnerImageUrl="../../../assets/images/team3.jpg"
                        partnerName="Partner 3" partnerDescription="Description" partnerFacebookLink=""
                        partnerTwitterLink="" partnerGooglePlusLink=""></app-partner-card>

                    <app-partner-card class="col-md-3" partnerImageUrl="../../../assets/images/team4.jpg"
                        partnerName="Partner 4" partnerDescription="Description" partnerFacebookLink=""
                        partnerTwitterLink="" partnerGooglePlusLink=""></app-partner-card>

                </div>
            </div>

            <!-- CLIENT SECURITY -->
            <div class="testimonials p-lg-5 p-3 mt-4">
                <div class="row">

                    <div class="col-lg-3 footer-top-w3layouts-grid-sec">
                        <div class="mail-grid-icon text-center">
                            <fa-icon [icon]="faGift"></fa-icon>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Genuine Product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>

                    <div class="col-lg-3 about__footer-grid">
                        <div class="mail-grid-icon text-center">
                            <fa-icon [icon]="faShieldAlt"></fa-icon>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Secure Products</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>

                    <div class="col-lg-3 about__footer-grid">
                        <div class="mail-grid-icon text-center">
                            <fa-icon [icon]="faDollarSign"></fa-icon>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Cash on Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>

                    <div class="col-lg-3 about__footer-grid">
                        <div class="mail-grid-icon text-center">
                            <fa-icon [icon]="faTruck"></fa-icon>
                        </div>
                        <div class="mail-grid-text-info">
                            <h3>Easy Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
