.about-info {
  background-color: #f5f7f7;
  padding: 2% 4%;
}

.about-info a,
.about-info p {
  color: #0e0f10 !important;
}

.tittle-main {
  color: #0e0f10;
  font-family: Unbounded, sans-serif;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
}

.testimonials {
  background: #f7f7f7;
}

.mail-grid-icon fa-icon {
  font-size: 1.3em;
  color: #0e0f10;
  line-height: 3.2em;
}

.mail-grid-icon {
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #777;
}

.mail-grid-text-info {
  float: right;
  width: 70%;
  text-align: left;
}

.mail-grid-text-info h3 {
  margin: 0 0 0.5em;

  color: #ff4e00;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mail-grid-text-info p {
  color: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
}

.about__footer-grid:hover .mail-grid-icon fa-icon {
  color: #ff4e00;
}

