.cart__top-container {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__title {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
}

.cart__close-button {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}

.cart__item-list {
  margin: 0;
  padding: 0;
  min-width: 65vw;
  min-height: 60vh;
}

.cart__footer-container {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__total-info {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cart__order-button {
  padding: 8px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: 0.5s all;
}

.cart__order-button:hover {
  background: #ff4e00;
}
