<div class="cart__top-container">
  <div class="cart__title">Cart</div>
  <button class="cart__close-button" mat-dialog-close>
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>
</div>

<mat-dialog-content class="cart__item-list">
  <app-cart-item *ngFor="let item of cartItems" [cartItem]="item"></app-cart-item>
</mat-dialog-content>

<div class="cart__footer-container">
  <div class="cart__total-info">
    TOTAL PRICE: {{ totalPrice | currency: "USD" }}
  </div>
  <a class="cart__order-button"
     [mat-dialog-close]="true"
     cdkFocusInitial
     (click)="onOrderClick()">Order All</a>
</div>
