<div class="row module-header m-0">

    <div class="col-6 title__name">
        <h2 mat-dialog-title>Cart</h2>
    </div>

    <div class="col-6 ">
        <mat-dialog-actions align="end">
            <button class="cart__order-btn cart__close-btn" mat-button mat-dialog-close>
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </mat-dialog-actions>
    </div>

</div>


<mat-dialog-content class="mat-typography cart__order">

    <app-cart-item *ngFor="let item of cartItems" [cartItem]="item"></app-cart-item>

</mat-dialog-content>

<div class="row module-footer m-0">

    <div class="col-9 total__info">
        TOTAL PRICE: {{ totalPrice | currency: "USD" }}
    </div>

    <mat-dialog-actions class="col-3" align="end">
        <button class="cart__order-btn" mat-button [mat-dialog-close]="true" cdkFocusInitial>Order All</button>
    </mat-dialog-actions>

</div>