.cart__top-container {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__title {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
}

.cart__close-button {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}

.cart__item-list {
  margin: 0;
  padding: 15px 30px;
  min-width: 65vw;
  min-height: 60vh;
}

.cart__footer-container {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__total-info {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cart__order-button {
  padding: 8px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: 0.5s all;
}

.cart__order-button:hover {
  background: #ff4e00;
}

@media (max-width: 760px) {

  .cart__top-container {
    padding: 5px 10px;
  }

  .cart__item-list {
    margin: 0;
    padding: 7px;
  }


  .cart__footer-container {
    padding: 7px;
    display: block;
  }

  .cart__total-info {
    padding: 7px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .cart__order-button {
    margin-top: 10px;
    padding: 10px 50px;
    font-size: 16px;
    letter-spacing: 2px;

    transition: 0.5s all;
  }

}
