<div *ngIf="product" class="product__wrapper">
  <div class="product__about-container">

    <div class="product__gallery">
      <div class="product__gallery-image-container">
        <img [src]=" product.imageUrl " alt="">
      </div>
    </div>

    <div class="product__from-container">
      <div class="product__form">

        <div class="product__title">
          <h1>{{ product.name }}</h1>
          <button>
            <fa-icon [icon]="faHeart"></fa-icon>
          </button>
        </div>

        <div class="product__category">
          <span>SKU: {{ product.sku }} </span>
          <span>Categories:</span>
          <span *ngFor="let item of productCategories"> {{ item.name }} </span>
        </div>

        <div class="product__price">
          {{ product.price | currency: "USD" }}
        </div>

        <div class="product__order-form">

          <div class="product__order-buttons">
            <div *ngIf="role === 'ROLE_ADMIN'" class="product__order-button">
              <a routerLink="/admin/product-workshop/{{ product.id }}" class="main-button">
                Edit product
              </a>
            </div>
            <div *ngIf="role !== 'ROLE_ADMIN'" class="product__order-button">
              <button class="main-button" (click)="addProductToCart()">
                Add to cart
              </button>
            </div>
          </div>

          <div class="product__share">
            <div class="product__label">Share</div>
            <div class="product__share-buttons">
              <fa-icon [icon]="faFacebook"></fa-icon>
              <fa-icon [icon]="faTelegram"></fa-icon>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
