header {
  margin: 0;
  padding: 0;
}

.header__brand-link {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header__brand-link img {
  height: 85px;
}

.header__main-title {
  font-size: 1.6em;
  color: #2b2d2d;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: Unbounded, sans-serif;
  text-transform: uppercase;
}

.header__navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header__navbar-item a {
  padding: 10px 25px;
  color: #2b2d2d;
  font-size: 1em;
  font-family: Unbounded, sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.header__navbar-item .active {
  color: #ff4e00;
}

.header__navbar-item a:hover {
  color: #ff4e00;
}

.header__icons-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__button-icon {
  padding: 0 15px;
}

.header__button-icon a,
.header__button-icon button {
  color: #131415;
  font-size: 20px;
  text-decoration: none;
}

.header__cart-quantity {
  display: inline-block;
  width: 17px;
  height: 17px;
  color: #fff;
  background-color: #ff4e00;

  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  font-size: 10px;
  font-weight: 500;
}
