.banner__container {
  background: url(../../../../assets/images/banner-mid.jpg) no-repeat 0px -93px;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  moz-background-size: cover;
  min-height: 100px;
}

.banner__breadcrumb ul li fa-icon {
  padding: 0 1em;
  letter-spacing: 1em;
}

ul.short {
  padding: 3em 0 0 2em;
  font-size: 1em;
  font-weight: 600;
  font-family: Unbounded, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

ul.short li {
  display: inline-block;
  color: #fff;
}

ul.short li a {
  color: #fff;
  font-weight: 700;
}
