.banner__container {
  background: url(../../../../assets/images/banner-mid.jpg) no-repeat 0px -93px;
  background-size: cover;
  min-height: 100px;
}

.banner__breadcrumb ul li fa-icon {
  padding: 0 1em;
}

.short {
  padding: 3em 0 0 2em;
  font-size: 1em;
  font-weight: 600;
  font-family: Unbounded, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

.short li {
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.short li a {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 760px) {

  .banner__container {
    background: url(../../../../assets/images/banner-mid.jpg) no-repeat 0px -3px;
    background-size: cover;
    min-height: 70px;
  }

  .short {
    padding: 2em 0 0 2em;
    font-size: 1em;
  }

}
