<nav class="navbar navbar-expand-lg navbar-light bg-light top-header p-0 mb-3">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav nav-mega mx-auto d-flex justify-content-center align-items-center">

            <!-- HOME -->
            <div class="nav-item active">
                <a routerLink="/home" routerLinkActive="active" class="nav-link ml-lg-0">Home
                </a>
            </div>

            <!-- ABOUT -->
            <div class="nav-item">
                <!-- <a class="nav-link" href="/about">About</a> -->
                <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
            </div>

            <!-- FEATURES-->
            <app-features-dropdown></app-features-dropdown>

            <!-- SHOP -->
            <app-shop-dropdown></app-shop-dropdown>

            <!-- CONTACT -->
            <div class="nav-item">
                <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
            </div>
        </div>

    </div>
</nav>
