.top-header {
    background: none !important;
}


.nav-link,
.dropdown-item {
    color: #828284;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0em 0.5em;
    padding: 10px 25px;
    text-transform: uppercase;
}

.nav-link.show,
.nav-link.active,
.nav-link:hover {
    color: #ff4e00;
    border-radius: 0px;
}

.active {
    color: #ff4e00;
}

@media(max-width:1080px) {

    .navbar-light.navbar-nav.nav-link,
    .dropdown-item {
        margin: 0em 0.5em;
        padding: 10px 7px;
    }
}