<footer class="py-lg-5 py-3">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row">
            <div class="col-lg-3 footer__grid">
                <div class="footer__main-title">
                  About Us
                </div>
                <div class="footer__text">
                    <p>
                      Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur
                        sed, convallis at tellus. Nulla porttitor accumsana tincidunt.
                    </p>
                    <ul class="footer__social text-left mt-lg-4 mt-3">
                        <li class="mx-2">
                            <a href="https://www.facebook.com/">
                                <fa-icon [icon]="faFacebook"></fa-icon>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="https://twitter.com/">
                                <fa-icon [icon]="faTwitter"></fa-icon>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="https://www.linkedin.com/">
                                <fa-icon [icon]="faLinkedin"></fa-icon>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="https://www.instagram.com/">
                                <fa-icon [icon]="faInstagram"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 footer__grid">
                <div class="footer__main-title">Get in touch</div>
                <div class="footer__contact-info">
                    <h4>Location :</h4>
                    <p>0926k 4th block building, king Avenue, New York City.</p>
                    <div class="footer__phone">
                        <h4>Contact :</h4>
                        <p>Phone : +121 098 8907 9987</p>
                        <p>Email :
                            <a href="mailto:info@example.com">infoexample.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 footer__grid">
                <div class="footer__main-title">Quick Links</div>
                <ul class="footer__links">
                    <li>
                        <a routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                    <li>
                        <a routerLink="/shop" routerLinkActive="active">Shop</a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer__grid">
                <div class="footer__main-title">Sign up for your offers</div>
                <div class="footer__text">
                    <p>
                      By subscribing to our mailing list you will always get latest news and updates from us.
                    </p>
                    <form>
                        <input class="footer__form-control" type="email" name="Email" placeholder="Enter your email" required="">
                        <button class="footer__button" type="submit">
                            <fa-icon [icon]="faEnvelope" aria-hidden="true"></fa-icon>
                        </button>
                        <div class="clearfix"> </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="footer__copyright mt-4">
            <p class="text-center">
              &copy; 2024 Panorama. All Rights Reserved
            </p>
        </div>

    </div>
</footer>
