<header class="m-0 p-0">
  <div class="row">

    <!-- LOGO & BRAND NAME -->
    <div class="col-3">

      <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
        <div class="justify-content-end d-flex align-items-center">
          <img src="../../../assets/images/logo/logo_small.png" alt="" style="height: 80px">
          <h1 class="logo-title">Visionarium</h1>
        </div>
      </a>

    </div>

    <!-- NAV BAR -->
    <div class="col-6 d-flex justify-content-center align-items-center p-0 m-0">
      <app-navbar></app-navbar>
    </div>

    <!-- CART AND PROFILE -->
    <div class="col-3 d-flex align-items-center m-0 p-0">
      <ul class="cart-inner-info justify-content-start d-flex ">

        <!-- SEARCH -->
        <li class="button__icon">
          <app-search></app-search>
        </li>

        <!-- SIGN IN -->
        <li class="button__icon mx-3">
          <a routerLink="/sign-in" routerLinkActive="active" class="btn-open">
            <fa-icon [icon]="faUser" aria-hidden="true"></fa-icon>
          </a>
        </li>

        <!-- FAVORITES -->
        <li class="button__icon mx-3">
          <a routerLink="/liked" routerLinkActive="active" class="btn-open">
            <fa-icon [icon]="faHeart" aria-hidden="true"></fa-icon>
          </a>
        </li>

        <!-- CART -->
        <li class="button__icon mx-3">
          <button (click)="openDialog()" class="cart__button" type="submit" name="submit" value="">
            <fa-icon [icon]="faCartArrowDown"></fa-icon>
          </button>
        </li>

      </ul>

    </div>

  </div>

</header>
