.account__details {
  margin: 80px 0 60px;
}

.account__page-row {
  margin-bottom: 20px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.account__page-row span {
  font-weight: 700;
}

.account__title {
  color: #2f2f2f;
  margin-bottom: 40px;
  font-size: 30px;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.account__page-title .account__title {
  margin-top: 20px;
}

.account__button-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.account__button {
  width: 30%;
  margin-top: 10px;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: 0.5s all;
}

.account__button:hover {
  background: #ff4e00;
}

