.error_page {
    margin: 0 auto;
    text-align: center;
}

.error_page h4 {
    font-size: 12em;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding: 0;
}

.error_page p {
    color: #848080;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 1em 0 2em 0;
}

a.b-home {
    background: #0c0c0c;
    padding: 0.7em 1.5em;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    margin: 2em 0 1em 0;
}

a.b-home:hover {
    background: #ff4e00;
    letter-spacing: 1px;
}

@media (max-width: 760px) {

  .error_page h4 {
    line-height: 50px;
  }
}
