<div class="row">
  <div class="col-md-12 my-4">
    <div class="counter__middle-text-info">
      <div class="counter__tittle my-lg-4 mt-3">Summer Flash sale</div>

      <div class="simply-countdown-custom">
        <div class="simply-section">
          <div>
            <span class="simply-amount">{{ days }}</span>
            <span class="simply-word">days</span>
          </div>
        </div>
        <div class="simply-section">
          <div>
            <span class="simply-amount">{{ hours }}</span>
            <span class="simply-word">Hours</span>
          </div>
        </div>
        <div class="simply-section">
          <div>
            <span class="simply-amount">{{ minutes }}</span>
            <span class="simply-word">Minutes</span>
          </div>
        </div>
        <div class="simply-section">
          <div>
            <span class="simply-amount">{{ seconds }}</span>
            <span class="simply-word">Seconds</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
