.counter__tittle {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  letter-spacing: 10px;
}

.counter__middle-text-info {
  background: url(../../../../assets/images/banner-mid.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 400px;
  padding: 3em 0 0 0;
}

.simply-countdown-custom {
  overflow: hidden;
  display: table;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.simply-countdown-custom > .simply-section {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 15px;
  background: none;
  color: #fff;
  font-size: 1em;
}

.simply-countdown-custom > .simply-section .simply-amount,
.simply-countdown-custom > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown-custom > .simply-section .simply-amount {
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 3px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

.simply-word {
  padding-top: 25px;

  font-family: Raleway, sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  letter-spacing: 1px;
}
