<div class="product-men women_two  mx-1">
    <div class="product-googles-info googles">
        <div class="men-pro-item">

            <div class="men-thumb-item">

                <img src="{{ product?.imageUrl }}" class="img-fluid" alt="">

                <div class="men-cart-pro">
                    <div class="inner-men-cart-pro">
                        <a routerLink="/shop/products/{{ product?.id }}" class="link-product-add-cart">Quick View</a>
                    </div>
                </div>

                <span *ngIf="product?.active" class="product-new-top">New</span>


            </div>

            <div class="item-info-product">
                <div class="info-product-price">

                    <div class="grid_meta">

                        <div class="product_price">
                            <h4>
                                <a href="single.html">{{ product?.name }}</a>
                            </h4>
                            <div class="grid-price mt-2">
                                <span class="money ">{{ product?.price| currency : "USD" }}</span>
                            </div>
                        </div>

                        <app-rating-stars [starNumber]=" product?.rating "></app-rating-stars>

                    </div>

                    <div class="googles single-item hvr-outline-out">
                        <button (click)="addToCart()" type="submit" class="googles-cart pgoogles-cart">
                            <fa-icon [icon]="faCartPlus"></fa-icon>
                        </button>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>