/*-- PRODUCT MEN --*/
.product-men:nth-child(2) .product-new-top,
.product-men:nth-child(6) .product-new-top,
.product-men:nth-child(7) .product-new-top {
    background: #FFC107;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.product-new-top,
.product-men:nth-child(8) .product-new-top,
.product-new-top,
.product-men:nth-child(3) .product-new-top {
    background: #219ff3;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.product-men img {
    width: 100%;
}

.product-men.single {
    margin: 0;
}


.product-googles-info {
    padding: 15px;
    border: 1px solid #e4e4e4;
}

.product-googles-info:hover button.googles-cart {
    color: #ff4e00;
}

.product-googles-info.slide-img {
    border: none;
}

.product-googles-info.slide-img .product-new-top {
    background: #989494;
}

.googles.single-item {
    float: right;
}

.googles.single-item.single_page_b {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

.men-pro-item {
    position: relative;
}

.men-thumb-item {
    text-align: center;
    position: relative;
}

.men-thumb-item:hover {
    cursor: pointer;
}

.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}

.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}

.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 77%;
}

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.inner-men-cart-pro>ul>li {
    display: inline-block;
}

.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}

.inner-men-cart-pro .link-product-add-cart {
    width: 42%;
    top: 0px;
    left: 28%;
    margin: 0 auto;
    position: absolute;
    transition: all 0.5s ease-out 0s;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 2px;
}

.link-product-add-cart {
    background: #0c0c0c;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}

.link-product-add-cart:hover {
    background: #ff4e00;
    color: #fff;
}

.wrapper_top_shop .inner-men-cart-pro .link-product-add-cart {
    width: 56%;
    top: 0px;
    left: 22%;
}

.product-new-top {
    background: #F60B0E;
    color: #fff;
    right: -18px;
    position: absolute;
    top: 10px;
    width: 79px;
    font-size: 13px;
    height: 29px;
    text-align: center;
    line-height: 2.3;
}

.item-info-product {
    text-align: center;
}

.info-product-price del {
    font-weight: 300;
    margin-left: 13px;
    font-size: 15px;
}

.grid_meta {
    float: left;
    width: 80%;
    text-align: left;
}

.product_price h4 a {
    color: #959596;
    font-size: 0.8em;
    font-family: 'Inconsolata', monospace;
}

span.money {
    font-size: 1em;
    color: #ff4e00;
    font-weight: 700;
    letter-spacing: 1px;
}

ul.stars a fa-icon {
    color: #cecbcb;
    font-size: 0.75em;
    padding-right: 0.3em;
}

ul.stars li {
    list-style: none;
    display: inline-block;
}

ul.stars li a {
    color: #333;
}

ul.stars li a fa-icon:hover {
    color: #ff4e00;
}

.googles-cart {
    font-size: 1em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    background: none;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.googles-cart:hover,
.back a:hover {
    box-shadow: none;
}

button.googles-cart {
    font-size: 1.4em;
    color: #333;
    border: none;
    text-align: center;
    border-left: none !important;
    background: none;
    margin-top: 0.5em;
    cursor: pointer;
}

.singlepage button.googles-cart.pgoogles-cart {
    font-size: 13px;
    color: #fff;
    background: #1d1d1d;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: .7em 1em;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
