<div class="card__container googles">

  <div class="card__top-container card__thumb-item">

    <img src="{{ product.imageUrl }}" alt="">

    <div class="card__quick-view-container">
      <div class="card__quick-view-container-inner">
        <a routerLink="/shop/products/{{ product.id }}" class="card__quick-view-link">Quick View</a>
      </div>
    </div>

    <span *ngIf="product.active" class="card__unavailable">Unavailable</span>

  </div>

  <div class="card__info row">

    <div class="card__product-info col-10">

      <div class="card__product-name">
        <a routerLink="/shop/products/{{ product.id }}">{{ product.name }}</a>
      </div>

      <div class="card__product-price">
        <span class="money">{{ product.price| currency : "USD" }}</span>
      </div>

    </div>

    <div class="card__buttons col-2">
      <a *ngIf="role === 'ROLE_ADMIN'" routerLink="/admin/product-workshop/{{ product.id }}" class="card__button">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </a>
<!--      <button *ngIf="role !== 'ROLE_ADMIN'" (click)="addToCart()" class="card__button">-->
<!--        <fa-icon [icon]="faHeart"></fa-icon>-->
<!--      </button>-->
      <button *ngIf="role !== 'ROLE_ADMIN' && !product.active " (click)="addToCart()" class="card__button">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>

  </div>

</div>
