<app-banner></app-banner>

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid m-0 p-0">

        <div class="inner-sec-shop px-lg-4 px-3">

            <h3 class="tittle-w3layouts my-lg-4 my-4">New Arrivals for you </h3>

            <!-- <app-product-list></app-product-list> -->

            <app-custom-countdown></app-custom-countdown>

            <app-slider></app-slider>

            <app-testimonials></app-testimonials>



        </div>

    </div>
</section>