<div class="user__form-top" mat-dialog-title>
  <div class="user__form-title">Update data</div>
  <button class="user_form-close-btn" mat-button (click)="onClose()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>
</div>


<div class="user__form-container">
  <form [formGroup]="formGroup">

    <!-- Server error message -->
    <div *ngIf="serverErrorMessage" class="auth__server-error">
      {{ serverErrorMessage }}
    </div>

    <!-- Server success message -->
    <div *ngIf="serverSuccessMessage" class="auth__server-success">
      {{ serverSuccessMessage }}
    </div>

    <div class="auth__from-input-container"
         data-validate="First Name is required"
         [class.auth_form-input-invalid]="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
      <input class="auth__form-input" type="text" formControlName="firstName" #inputField
             (input)="serverErrorMessage=''">
      <span class="auth__form-focus-input"></span>
      <span class="auth__form-label">First Name</span>

      <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="auth__alert">
        <div *ngIf="firstName?.errors?.['required']">
          First Name is required
        </div>
      </div>
    </div>

    <div class="auth__from-input-container"
         data-validate="Last Name is required"
         [class.auth_form-input-invalid]="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
      <input class="auth__form-input" type="text" formControlName="lastName" #inputField
             (input)="serverErrorMessage=''">
      <span class="auth__form-focus-input"></span>
      <span class="auth__form-label">Last Name</span>

      <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="auth__alert">
        <div *ngIf="lastName?.errors?.['required']">
          Last Name is required
        </div>
      </div>
    </div>

    <div class="auth__from-input-container"
         data-validate="Phone Number is required"
         [class.auth_form-input-invalid]="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)">
      <input class="auth__form-input" type="text" formControlName="phoneNumber" #inputField
             (input)="serverErrorMessage=''">
      <span class="auth__form-focus-input"></span>
      <span class="auth__form-label">Phone Number</span>

      <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="auth__alert">
        <div *ngIf="phoneNumber?.errors?.['required']">
          Phone Number is required
        </div>
        <div *ngIf="phoneNumber?.errors?.['minlength'] || phoneNumber?.errors?.['maxlength']">
          Phone Number must be at least 5 and 15 max characters long
        </div>
      </div>
    </div>

    <div class="user__email-verify-container">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span class="user__email">Email2^ukr.net</span>


      <div *ngIf="false" class="user__verified">
        <span>verified</span>
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>

      <div *ngIf="true" class="user__verify">
        <button class="user__button" type="submit" (click)="onClickVerifyAccount()">verify</button>
      </div>

    </div>

    <button class="user__button user__button-submit" mat-button cdkFocusInitial type="submit"
            (click)="onClickUpdateData()">Submit
    </button>

  </form>
</div>

