<app-route-banner pageName="Profile"></app-route-banner>

<div class="account__common-container">
  <div *ngIf="user" class="account__container">

    <div class="account__page-content">
      <app-user-data [user-data]="user"></app-user-data>

      <app-change-password></app-change-password>
    </div>

    <div class="account__page-slidebar">
      <div class="account__slidebar-menu">

        <div class="account__slidebar-menu-item">
          <a routerLink="/account">
            Personal data
          </a>
        </div>

        <div class="account__slidebar-menu-item">
          <a routerLink="/account/saved-addresses">
            Saved addresses
          </a>
        </div>

        <div class="account__slidebar-menu-item">
          <a routerLink="/account/order-history">
            Order history
          </a>
        </div>

        <div class="account__button-container">
          <a routerLink="/shop" (click)="signOut()" class="account__button">
            Sign Out
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
