.account__title {
  color: #2f2f2f;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.account__common-container {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
}

.account__container {
  padding: 0 45px 50px 40px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.account__page-content {
  width: calc(100% - 320px);
}

.account__title {
  margin-top: 20px;
}

.account__details {
  margin: 80px 0 60px;
}

.account__page-slidebar {
  width: 265px;
}

.account__slidebar-menu {
  margin-top: 100px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.account__slidebar-menu-item {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
}

.account__slidebar-menu-item a {
  color: #000;
  outline: none;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 0 0 0 #000;
  text-transform: uppercase;
}

.account__slidebar-menu-item a .active {
  font-weight: 700;
}

.account__button-container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.account__button {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: 0.5s all;
}

.account__button:hover {
  background: #ff4e00;
}



