<div class="account__change-pass-container">

  <div class="account__title">Change password</div>

  <div class="account__change-form-container">
    <form [formGroup]="formChangePassForm">

      <!-- Server error message -->
      <div *ngIf="serverErrorMessage" class="auth__server-error">
        {{ serverErrorMessage }}
      </div>

      <!-- Server success message -->
      <div *ngIf="serverSuccessMessage" class="auth__server-success">
        {{ serverSuccessMessage }}
      </div>

      <div class="auth__from-input-container"
           data-validate="Old password is required"
           [class.auth_form-input-invalid]="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
        <input class="auth__form-input" type="password" formControlName="oldPassword" #inputField
               (input)="serverErrorMessage=''">
        <span class="auth__form-focus-input"></span>
        <span class="auth__form-label">Old password</span>

        <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)" class="auth__alert">
          <div *ngIf="oldPassword?.errors?.['required']">
            Password is required
          </div>
        </div>
      </div>

      <div class="auth__from-input-container"
           data-validate="Old password is required"
           [class.auth_form-input-invalid]="newPasswordFirst?.invalid && (newPasswordFirst?.dirty || newPasswordFirst?.touched)">
        <input class="auth__form-input" type="password" formControlName="newPasswordFirst" #inputField
               (input)="serverErrorMessage=''">
        <span class="auth__form-focus-input"></span>
        <span class="auth__form-label">New password</span>

        <div *ngIf="newPasswordFirst?.invalid && (newPasswordFirst?.dirty || newPasswordFirst?.touched)"
             class="auth__alert">
          <div *ngIf="newPasswordFirst?.errors?.['required'] || newPasswordFirst?.errors?.['notOnlyWhitespace']">
            Password is required
          </div>
          <div *ngIf="newPasswordFirst?.errors?.['pattern']">
            Password must be 8+ characters with a mix of uppercase, lowercase, number, and special character.
          </div>
        </div>
      </div>

      <div class="auth__from-input-container"
           data-validate="Old password is required"
           [class.auth_form-input-invalid]="newPasswordSecond?.invalid && (newPasswordSecond?.dirty || newPasswordSecond?.touched)">
        <input class="auth__form-input" type="password" formControlName="newPasswordSecond" #inputField
               (input)="serverErrorMessage=''">
        <span class="auth__form-focus-input"></span>
        <span class="auth__form-label">Repeat new password</span>
        <div *ngIf="newPasswordSecond?.invalid && (newPasswordSecond?.dirty || newPasswordSecond?.touched)"
             class="auth__alert">
          <div *ngIf="newPasswordSecond?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="newPasswordSecond?.errors?.['matching']">
            Passwords must match
          </div>
          <div *ngIf="newPasswordSecond?.errors?.['pattern']">
            Password must be 8+ characters with a mix of uppercase, lowercase, number, and special character.
          </div>
        </div>
      </div>


      <button class="account__button user__button-submit" mat-button cdkFocusInitial type="submit"
              (click)="onClickUpdatePassword()">Change password
      </button>

    </form>
  </div>

</div>
