<div class="form-content">

    <div class="sign-up-photo" style="background-image: url('../../../../assets/images/banner3.jpg');">
    </div>

    <div class="wrap-sign-in">
        <form class="form-detail" action="#" method="post">

            <h3 class="from-tittle pb-4">Register Form</h3>

            <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input" type="text" name="name">
                <span class="focus-input"></span>
                <span class="label-input">Name</span>
            </div>

            <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input" type="text" name="email">
                <span class="focus-input"></span>
                <span class="label-input">Email</span>
            </div>

            <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
                <input class="input" type="text" name="password">
                <span class="focus-input"></span>
                <span class="label-input">Password</span>
            </div>

            <div class="form-btn-container">
                <button class="form-btn" type="submit">
                    Register
                </button>
            </div>

            <div class="text-center pt-3 pb-2">
                <span class="txt2">
                    or sign up using
                </span>
            </div>

        </form>

        <div class="flex-c-m">
            <a href="#" class="form-social-item flex-c-m mx-1">
                <fa-icon [icon]="faGoogle"></fa-icon>
            </a>

            <a href="#" class="form-social-item flex-c-m mx-1">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a href="#" class="form-social-item flex-c-m mx-1">
                <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
        </div>

        <div class="text-center pt-3">
            <span class="txt2">
                Already have account?
            </span>
            <a routerLink="/sign-in" class="link-sign-up"> Login</a>
        </div>
    </div>

</div>
