.sign-up__container {
  background: #f2f2f2;
  position: relative;
  display: flex;
}

.sign-up__photo-container {
  width: calc(100% - 765px);
  background-image: url('../../../../assets/images/banner3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.sign-in__wrap {
  width: 760px;
  min-height: 80vh;
  display: block;
  background-color: #f5f7f7;
  padding: 50px 55px 55px 55px;
}

.sign-up__have-acc-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up__have-acc-container span,
.sign-up__have-acc-container a {
  color: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.sign-up__have-acc-container a {
  padding-left: 8px;
  font-size: 1.3em;
  font-weight: 600;
}

.sign-up__have-acc-container a:hover {
  color: #ff4e00;
  font-weight: 700;
}

@media (max-width: 760px) {

  .sign-in__wrap {
    width: auto;
    min-height: auto;
    padding: 40px 20px 20px 20px;
  }

}
