.sign-in__container {
  width: 100%;
  margin: 0 auto;
}

.sign-in__login-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.sign-in__login-wrap {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

.sign-in__from {
  width: 760px;
  min-height: 80vh;
  display: block;
  background-color: #f5f7f7;
  padding: 80px 55px 55px 55px;
}

.sign-in__forgot-pass {
  margin: 15px 0;
}

.sign-in__forgot-pass a {
  color: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
}

.sign-in__forgot-pass a:hover {
  margin: 15px 0;

  color: #ff4e00;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  font-weight: 600;
}

.sign-in__login-photo {
  width: calc(100% - 760px);
  background-image: url('../../../../assets/images/bg-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.sign-in__login-photo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.sign-in__not-reg-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in__not-reg-container span,
.sign-in__not-reg-container a {
  color: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.sign-in__not-reg-container a {
  padding-left: 8px;
  font-size: 1.3em;
  font-weight: 600;
}

.sign-in__not-reg-container a:hover {
  color: #ff4e00;
  font-weight: 700;
}

@media (max-width: 760px) {

  .sign-in__from {
    width: auto;
    min-height: auto;
    padding: 40px 20px 20px 20px;
  }

}
