<div class="sign-in__container">
  <div class="sign-in__login-container">
    <div class="sign-in__login-wrap">

      <form class="sign-in__from validate-form">

        <div class="auth__from-title">Login to continue</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

          <!-- Server error message -->
          <div *ngIf="serverErrorMessage" class="auth__server-error">
            {{ serverErrorMessage }}
          </div>

          <div class="auth__from-input-container"
               data-validate="Valid email is required: ex@abc.xyz"
               [class.auth_form-input-invalid]="username?.invalid && (username?.dirty || username?.touched)">
            <input class="auth__form-input" type="text" formControlName="username" #inputField (input)="serverErrorMessage=''">
            <span class="auth__form-focus-input"></span>
            <span class="auth__form-label">Username</span>

            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="auth__alert">
              <div *ngIf="username?.errors?.['required'] || username?.errors?.['notOnlyWhitespace']">
                Username is required
              </div>
              <div *ngIf="username?.errors?.['minlength']">
                Username must be at least 5 characters long
              </div>
            </div>
          </div>


          <div class="auth__from-input-container auth__validate-password"
               data-validate="Password is required"
               [class.auth_form-input-invalid]="password?.invalid && (password?.dirty || password?.touched)">
            <input class="auth__form-input" type="password" formControlName="password" #inputField (input)="serverErrorMessage=''">
            <span class="auth__form-focus-input"></span>
            <span class="auth__form-label">Password</span>

            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="auth__alert">
              <div *ngIf="password?.errors?.['required'] || password?.errors?.['notOnlyWhitespace']">
                Password is required
              </div>
              <div *ngIf="password?.errors?.['pattern']">
                Password must be 8+ characters with a mix of uppercase, lowercase, number, and special character.
              </div>
            </div>
          </div>

          <div class="sign-in__forgot-pass">
            <a routerLink="/forgot-password">
              Forgot Password?
            </a>
          </div>

          <div class="auth__button-container">
            <button class="auth__button" type="submit" [disabled]="!loginForm.valid">
              Login
            </button>
          </div>

        </form>

        <div class="auth__under-btn">
          <span>or sign in using</span>
        </div>

        <div class="auth__social-container">
          <a href="#" class="auth__social-item">
            <fa-icon [icon]="faGoogle"></fa-icon>
          </a>

          <a href="#" class="auth__social-item">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a href="#" class="auth__social-item">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </div>

        <div class="sign-in__not-reg-container">
          <span>Not sign up yet? </span>
          <a routerLink="/sign-up"> Sign Up here!</a>
        </div>
      </form>

      <div class="sign-in__login-photo"></div>

    </div>
  </div>
</div>
