<div class="row">

    <div class="row">
        <app-product-item *ngFor="let tempProduct of products" class="col-md-3 mt-3"
            [product]="tempProduct"></app-product-item>
    </div>

    <!-- if products empty then display a message -->
    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
        No products found.
    </div>

    <div class="flex justify-content-center pt-3">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="thePageNumber * thePageSize" [rows]="thePageSize" [totalRecords]="theTotalElements"></p-paginator>
    </div>

</div>
