<div class="row">

    <app-product-item class="col-md-3 mt-3" name="Farenheit (Grey)" imgUrl="../../../assets/images/s1.jpg"
        [price]="575.00" [star]="4.5" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Opium (Grey)" imgUrl="../../../assets/images/s2.jpg" [price]="325.00"
        [star]="3.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Kenneth Cole" imgUrl="../../../assets/images/s3.jpg" [price]="575.00"
        [star]="4.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Farenheit Oval" imgUrl="../../../assets/images/s4.jpg"
        [price]="325.00" [star]="3.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Aislin Wayfarer" imgUrl="../../../assets/images/s5.jpg"
        [price]="775.00" [star]="4.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Azmani Round" imgUrl="../../../assets/images/s6.jpg" [price]="725.00"
        [star]="4.5" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Farenheit Wayfarer" imgUrl="../../../assets/images/s7.jpg"
        [price]="475.00" [star]="4.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Fossil Wayfarer" imgUrl="../../../assets/images/s8.jpg"
        [price]="825.00" [star]="3.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Aislin Wayfarer" imgUrl="../../../assets/images/s5.jpg"
        [price]="775.00" [star]="4.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Azmani Round" imgUrl="../../../assets/images/s6.jpg" [price]="725.00"
        [star]="4.5" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Farenheit Wayfarer" imgUrl="../../../assets/images/s7.jpg"
        [price]="475.00" [star]="4.0" status="NEW"></app-product-item>
    <app-product-item class="col-md-3 mt-3" name="Fossil Wayfarer" imgUrl="../../../assets/images/s8.jpg"
        [price]="825.00" [star]="3.0" status="NEW"></app-product-item>

</div>