.cart__item-container {
  padding: 15px 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* -- CART PRODUCT -- */
.cart__product {
  width: 70%;
  margin-right: 15px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart__image-container {
  height: 100px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .3);
}

.cart__image-container img {
  height: 100%;
  object-fit: cover;
}

.cart__product-info {
  padding-left: 20px;
  display: inline-block;
}

.cart__product-name {
  padding: 15px 0;
}

.cart__product-name a {
  color: #353434;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cart__product-artikul {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
/* -- //CART PRODUCT -- */


/* -- CART ORDER DATA -- */
.cart__order-container {
  width: 35%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__quantity button {
  padding: 0.3rem 0;

  color: #353434;
  font-weight: 500;
  font-size: 23px;
}

.cart__quantity span {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.cart__price {
  display: flex;
  flex-direction: column;

  color: #353434;
  font-family: Unbounded, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.cart__delete {
  color: #353434;
  font-size: 25px;
}
/* -- //CART ORDER DATA -- */
