<div class="cart__item-container">

    <div class="cart__product">
        <div class="cart__image-container">
            <img [src]=" cartItem?.imageUrl " alt="">
        </div>
        <div class="cart__product-info">
            <div class="cart__product-name">
                <a href="#">{{ cartItem?.name }}</a>
            </div>
            <div class="cart__product-artikul">
                Artikul: {{ cartItem?.sku }}
            </div>
        </div>
    </div>

    <div class="cart__order-container">

        <div class="cart__quantity">
            <button (click)="incrementQuantity()">+</button>
            <span>{{ cartItem?.quantity }}</span>
            <button (click)="decrementQuantity()">–</button>
        </div>
        <div class="cart__price">
            {{ cartItem?.price! * cartItem?.quantity! | currency: "USD" }}
        </div>
        <button (click)="remove()" class="cart__delete">
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>

    </div>

</div>
