.cart__positions {
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
}

/* -- CART PRODUCT -- */
.cart__product,
.cart__product-img {
    position: relative;
    display: flex;
    align-items: center;
}

.cart__product {
    padding: 30px 0;
    width: 50%;
    min-width: 375px;
}

.cart__order-data {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.cart__product-img img {
    width: 100px;
    min-width: 100px;
    margin-right: 30px;
}

.cart__product-name {
    padding: 1em 0;
}

.cart__product-name a {
    text-decoration: none;
    color: #353434;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
}

.cart__product-artikul,
.cart__product-artikul2 {
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

/* -- //CART PRODUCT -- */


/* -- CART ORDER DATA -- */
.cart__order-data {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.cart__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__quantity button {
    padding: 0.4em;

    font-size: 1.7em;
    outline: none;
    border: none;
    background: transparent;
    margin: 0;
    cursor: pointer;
    color: #000;
}

.cart__quantity span {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 300;
    color: #000;
}

.cart__price {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
}

.cart__delete {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #000;

    font-size: 1.5em;
}



/* -- //CART ORDER DATA -- */