<div class="banner-wrapper container-fluid">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="carousel-item-wrapper">
                <img src="../../../../assets/images/banner1.jpg" alt="Random first slide">
            </div>

            <div class="carousel-caption text-center">
                <h3>Men’s eyewear
                    <span>Cool summer sale 50% off</span>
                </h3>
                <app-shop-button btnName="Shop Now" btnLink="/shop" [isDark]="false"></app-shop-button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-item-wrapper">
                <img src="../../../../assets/images/banner2.jpg" alt="Random second slide">
            </div>
            <div class="carousel-caption text-center">
                <h3>Women’s eyewear
                    <span>Want to Look Your Best?</span>
                </h3>
                <app-shop-button btnName="Shop Now" btnLink="/shop" [isDark]="false"></app-shop-button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-item-wrapper">
                <img src="../../../../assets/images/banner3.jpg" alt="Random third slide">
            </div>
            <div class="carousel-caption text-center">
                <h3>Men’s eyewear
                    <span>Cool summer sale 50% off</span>
                </h3>
                <app-shop-button btnName="Shop Now" btnLink="/shop" [isDark]="false"></app-shop-button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-item-wrapper">
                <img src="../../../../assets/images/banner4.jpg" alt="Random third slide">
            </div>
            <div class="carousel-caption  text-center">
                <h3>Women’s eyewear
                    <span>Want to Look Your Best?</span>
                </h3>
                <app-shop-button btnName="Shop Now" btnLink="/shop" [isDark]="false"></app-shop-button>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
