<div class="team-main-gd">
  <div class="team-grid text-center">

    <div class="team-img">
      <img class="img-fluid rounded" src="{{ partnerImageUrl }}" alt="">
    </div>

    <div class="team-info">

      <h4>{{ partnerName }}</h4>
      <span>{{ partnerDescription }} </span>

      <ul class="d-flex justify-content-center py-3 social-icons">
        <li>
          <a href="{{ partnerFacebookLink }}">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="mx-3">
          <a href="{{ partnerTwitterLink }}">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
        <li>
          <a href="{{ partnerGooglePlusLink }}">
            <fa-icon [icon]="faGooglePlus"></fa-icon>
          </a>
        </li>
      </ul>

    </div>

  </div>
</div>
