.order-history__wrapper {
  background-color: #f9f9f9;
}

.order-history__main-container {
  margin: 0 auto;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
}

.order-history__current-title {
  padding: 200px 0;
  text-align: center;

  color: #2f2f2f;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.order-history__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 30px;
}

.order-history__menu-container {

}

.order-history__order-items-container {
  margin-top: 20px;
}

.order-history__titles {
  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-align: center;
  text-transform: uppercase;
}

.order-history__item {
  margin-top: 20px;
  padding-bottom: 15px;

  border-bottom: #0c0c0c 2px solid;
}

.order-history__item .order-history__item-details {
  color: #292b2c;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-align: center;
  text-transform: uppercase;
}

.order-history__item-details a {
  color: #0c0c0c;
  text-decoration: none;
}

.order-history__item-details fa-icon {
  font-size: 1.5em;
}

@media (max-width: 760px) {

  .order-history__main-container {
    padding: 0 7px;
  }

  .order-history__container {
    padding: 15px;
  }

  .order-history__titles {
    font-size: 0.8em;
  }

  .order-history__titles .order-hide-title {
    display: none;
  }

  .order-history__item .order-hide-data {
    display: none;
  }

  .order-history__item-details a {
    margin-left: 50px;
  }

}
