.pm__wrapper {
  background-color: #f9f9f9;
}

.pm__container {
  max-width: 1280px;
  min-height: 400px;
  margin: 0 auto;
  padding: 50px 30px;
}

.pm__main-title {
  padding-bottom: 40px;

  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
}

.pm__menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pm__button-container {
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pm__button {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: 0.5s all;
}

.om__button:hover {
  background: #ff4e00;
}

.pm__input {
  width: 30vw;
  padding: 15px 30px;
  border: #0c0c0c 2px solid;
  text-align: center;

  color: #212020;
  font-family: Raleway, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-transform: uppercase;
}

.pm__empty-container {
  padding-top: 100px;

  display: flex;
  justify-content: center;

  color: #0e0f10;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pm__titles {
  padding-top: 30px;

  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-align: center;
  text-transform: uppercase;
}

.pm__product-list-container {
  padding-top: 40px;
}

.pm__titles {
  padding-top: 30px;

  color: #353434;
  font-family: Unbounded, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-align: center;
  text-transform: uppercase;
}

.pm__product-items-container {
  margin-top: 20px;
}

.pm__item {
  margin-top: 20px;
  padding-bottom: 15px;

  border-bottom: #0c0c0c 2px solid;
}

.pm__item .pm__item-details,
.pm__item-details a {
  color: #292b2c;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
  text-align: center;
  text-transform: uppercase;
}

.pm__item-details fa-icon {
  font-size: 1.3em;
  padding: 0 10px;
}
