/* ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
    display: none;
}


::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    // display: none;
    color: red;
}
 */

::ng-deep .p-carousel .p-carousel-indicators {
    margin-top: 1em;
}

::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #777;
    width: 0.8rem;
    height: 0.8rem;
    transition: background-color 0.3s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
}

::ng-deep .p-carousel .p-carousel-indicators .p-highlight .p-link {
    background-color: #ff4e00;
}

::ng-deep .p-carousel .p-carousel-prev-icon,
::ng-deep .p-carousel .p-carousel-next-icon {
    color: #333;
}