<div class="header__button-icon">
  <button id="trigger-overlay" type="button">
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</div>

<div class="overlay overlay-door close">

  <button type="button" class="overlay-close">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>

  <form class="d-flex">
    <input #searchInput
           class="form-control"
           type="text"
           placeholder="Search for data ..."
           (keyup.enter)="doSearch(searchInput.value)">

    <button (click)="doSearch(searchInput.value)"
            class=" btn btn-primary submit">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

  </form>

</div>
