.customer-rev fa-icon {
    color: #ff4e00;
    font-size: 0.7em;
    margin-right: 0.7em;
}

.customer-rev {
    list-style: none;
}

.customer-rev span {
    color: #000;
    font-weight: normal;
    font-size: 14px;
    margin-left: 8px;
}