<div class="testimonials py-lg-4 py-3 mt-4">
    <div class="inner-testimonials py-lg-4 py-3">
        <h3 class="tittle-w3layouts text-center my-lg-4 my-4">Tesimonials</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active">
                    <div class="testimonials_grid text-center">
                        <h3>Anamaria
                            <span>User</span>
                        </h3>
                        <label>United States</label>
                        <p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque
                            nisl nibh vel lacus.
                            Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="testimonials_grid text-center">
                        <h3>Esmeralda
                            <span>User</span>
                        </h3>
                        <label>United States</label>
                        <p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque
                            nisl nibh vel lacus.
                            Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="testimonials_grid text-center">
                        <h3>Gretchen
                            <span>User</span>
                        </h3>
                        <label>United States</label>
                        <p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque
                            nisl nibh vel lacus.
                            Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                    </div>
                </div>

                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <fa-icon class="arrow-alt" [icon]="faLongArrowAltLeft" aria-hidden="true"></fa-icon>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <fa-icon class="arrow-alt" [icon]="faLongArrowAltRight" aria-hidden="true"></fa-icon>
                    <span class="sr-only">Next</span>

                </a>
            </div>
        </div>
    </div>
</div>
