<app-route-banner pageName="Shop"></app-route-banner>

<div class="shop__container">
  <div class="row">

    <!-- side bar -->
    <div class="shop__side-bar col-3">

      <!-- search products -->
      <div class="shop__search-container">

        <input class="shop__input-search" name="search" type="text" placeholder="Search here..." required="">

        <button class="shop__button-search">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>

      </div>

      <!-- sorting -->
      <div class="shop__sorting-container">

        <button (click)="toggleModal()" class="shop__button-down">
          <div class="shop__tittle">Sorting</div>
          <fa-icon [icon]="faCaretDown"></fa-icon>
        </button>

        <div *ngIf="showModal" class="shop__sorting-options-container">

          <div class="shop__modal-header">
            <div class="shop__tittle m-0">Sorting</div>
            <button (click)="toggleModal()">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>

          <div class="shop__modal-options">
            <button (click)="toggleSort('newest-first')"
                    class="shop__modal-option {{ sortingOption === 'newest-first' ? 'active' : '' }}">
              Newest first
            </button>
            <button (click)="toggleSort('from-cheap-to-expensive')"
                    class="shop__modal-option {{ sortingOption === 'from-cheap-to-expensive' ? 'active' : '' }}">
              From cheap to expensive
            </button>
            <button (click)="toggleSort('from-expensive-to-cheap')"
                    class="shop__modal-option {{ sortingOption === 'from-expensive-to-cheap' ? 'active' : '' }}">
              From expensive to cheap
            </button>
            <button (click)="toggleSort('discounted-first')"
                    class="shop__modal-option {{ sortingOption === 'discounted-first' ? 'active' : '' }}">
              Discounted first
            </button>
            <button (click)="toggleSort('highest-rating-first')"
                    class="shop__modal-option {{ sortingOption === 'highest-rating-first' ? 'active' : '' }}">
              Highest rating first
            </button>
          </div>

        </div>

        <hr>

        <div [ngSwitch]="sortingOption">
          <div *ngSwitchCase="'newest-first'" class="shop__sorting-category-selected">Newest first</div>
          <div *ngSwitchCase="'from-cheap-to-expensive'" class="shop__sorting-category-selected">From cheap to expensive</div>
          <div *ngSwitchCase="'from-expensive-to-cheap'" class="shop__sorting-category-selected">From expensive to cheap</div>
          <div *ngSwitchCase="'discounted-first'" class="shop__sorting-category-selected">Discounted first</div>
          <div *ngSwitchCase="'highest-rating-first'" class="shop__sorting-category-selected">Highest rating first</div>

        </div>


      </div>

      <!-- price range -->
      <div class="shop__filter-container">

        <div class="shop__tittle">Price</div>

        <div class="shop__price-range">
          <p-slider [(ngModel)]="rangeValues" [range]="true" [step]="1"></p-slider>
        </div>

        <div class="shop__price-inputs">

          <div class="shop__min-price">
            <span>from </span>
            <input class="shop__input-price" name="min-price" type="text" value="{{ rangeValues[0] }}"/>
          </div>
          <div class="shop__max-price">
            <span>to </span>
            <input class="shop__input-price" name="min-price" type="text" value="{{ rangeValues[1] }}"/>
          </div>

        </div>

      </div>

      <!-- gender -->
      <div class="shop__filter-container">

        <div class="shop__tittle">Gender</div>

        <ul>
          <li>
            <button (click)="toggleGenderCategory('all')" class="shop__button-filter-item {{ genderFilter === 'all' ? 'active' : '' }}">
              <fa-icon [icon]="genderFilter === 'all' ? faPlus : faMinus"></fa-icon>
              All
            </button>
          </li>
          <li>
            <button (click)="toggleGenderCategory('man')" class="shop__button-filter-item {{ genderFilter === 'man' ? 'active' : '' }}">
              <fa-icon [icon]="genderFilter === 'man' ? faPlus : faMinus"></fa-icon>
              Man
            </button>
          </li>
          <li>
            <button (click)="toggleGenderCategory('woman')" class="shop__button-filter-item {{ genderFilter === 'woman' ? 'active' : '' }}">
              <fa-icon [icon]="genderFilter === 'woman' ? faPlus : faMinus"></fa-icon>
              Woman
            </button>
          </li>
        </ul>

      </div>

      <!-- type -->
      <div class="shop__filter-container">

        <div class="shop__tittle">Type</div>

        <ul>
          <li>
            <button (click)="toggleTypeCategory('all')" class="shop__button-filter-item {{ typeFilter === 'all' ? 'active' : '' }}">
              <fa-icon [icon]="typeFilter === 'all' ? faPlus : faMinus"></fa-icon>
              All
            </button>
          </li>
          <li>
            <button (click)="toggleTypeCategory('prescription')" class="shop__button-filter-item {{ typeFilter === 'prescription' ? 'active' : '' }}">
              <fa-icon [icon]="typeFilter === 'prescription' ? faPlus : faMinus"></fa-icon>
              Prescription
            </button>
          </li>
          <li>
            <button (click)="toggleTypeCategory('reading')" class="shop__button-filter-item {{ typeFilter === 'reading' ? 'active' : '' }}">
              <fa-icon [icon]="typeFilter === 'reading' ? faPlus : faMinus"></fa-icon>
              Reading
            </button>
          </li>
          <li>
            <button (click)="toggleTypeCategory('computer')" class="shop__button-filter-item {{ typeFilter === 'computer' ? 'active' : '' }}">
              <fa-icon [icon]="typeFilter === 'computer' ? faPlus : faMinus"></fa-icon>
              Computer
            </button>
          </li>
          <li>
            <button (click)="toggleTypeCategory('sunglasses')" class="shop__button-filter-item {{ typeFilter === 'sunglasses' ? 'active' : '' }}">
              <fa-icon [icon]="typeFilter === 'sunglasses' ? faPlus : faMinus"></fa-icon>
              Sunglasses
            </button>
          </li>
        </ul>

      </div>

      <!-- frame material -->
      <div class="shop__filter-container">

        <div class="shop__tittle">Frame Material</div>

        <ul>
          <li>
            <button (click)="toggleFrameMaterialCategory('all')" class="shop__button-filter-item {{ frameFilter === 'all' ? 'active' : '' }}">
              <fa-icon [icon]="frameFilter === 'all' ? faPlus : faMinus"></fa-icon>
              All
            </button>
          </li>
          <li>
            <button (click)="toggleFrameMaterialCategory('metal')" class="shop__button-filter-item {{ frameFilter === 'metal' ? 'active' : '' }}">
              <fa-icon [icon]="frameFilter === 'metal' ? faPlus : faMinus"></fa-icon>
              Metal
            </button>
          </li>
          <li>
            <button (click)="toggleFrameMaterialCategory('plastic')" class="shop__button-filter-item {{ frameFilter === 'plastic' ? 'active' : '' }}">
              <fa-icon [icon]="frameFilter === 'plastic' ? faPlus : faMinus"></fa-icon>
              Plastic
            </button>
          </li>
          <li>
            <button (click)="toggleFrameMaterialCategory('wooden')" class="shop__button-filter-item {{ frameFilter === 'wooden' ? 'active' : '' }}">
              <fa-icon [icon]="frameFilter === 'wooden' ? faPlus : faMinus"></fa-icon>
              Wooden
            </button>
          </li>
        </ul>

      </div>

    </div>

    <!-- if products empty then display a message -->
    <div *ngIf="products.length == 0" class="shop__no-products-container col-9">

      <img src="../../../assets/images/no-product.png" alt="">

      <div class="shop__large-title">No products found</div>

    </div>

    <!-- product container -->
    <div *ngIf="products.length > 0" class="shop__product-container col-9">

      <div class="row">
        <app-product-item *ngFor="let tempProduct of products" class="shop__product-item col-4"
                          [product]="tempProduct"></app-product-item>
      </div>

      <div class="d-flex justify-content-center align-items-end">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="thePageNumber * thePageSize"
                     [rows]="thePageSize" [totalRecords]="theTotalElements"></p-paginator>
      </div>

    </div>

  </div>

  <!-- Featured Products -->
  <!--
    <div class="shop__featured-container mt-lg-5">
      <h3 class="shop__large-title">Featured Products</h3>
      <app-slider></app-slider>
    </div>
    -->

</div>
